@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Margarine&display=swap');

body {
    background-color: rgb(247, 172, 207);
    font-family: "DynaPuff", sans-serif;
}

.container {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    margin-top: 4%;
    margin-left: 13%;
}

.container h1 {
    font-size: 60px;
    font-style: italic;
    color: rgb(190, 123, 154);
}

.container img {
    width: 30%;
    border-radius: 15%;
    height: auto;
}

.principal {
    text-align: center;
    color: white;
    font-size: 40px;
}

.principal a {
    text-align: center;
}
